*{
  margin:0
}

.app{
background-color: #fafafa;
justify-content: center;

}
.app_signup{
  display: flex;
  flex-direction: column;
}

.app_header{
  background-color: white;
  position:sticky;
  top:0;
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  object-fit: contain;
  border-bottom: 1px solid gray;
}
.input_box{

  margin: 10px;
}
.app_header_Image{
  object-fit: contain;
}
.app_post{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  

}

